<a href="https://colab.research.google.com/github/kkettip/datasci_5_statistics/blob/main/datasci_5_statistics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
from scipy.stats import chi2_contingency

In [8]:
df = pd.read_csv('/content/Multiple_Chronic_Conditions_2018_data.csv') # noqa

In [9]:
df.sample(15)

,Bene_Geo_Lvl,Bene_Geo_Desc,Bene_Geo_Cd,Bene_Age_Lvl,Bene_Demo_Lvl,Bene_Demo_Desc,Bene_MCC,Prvlnc,Tot_Mdcr_Stdzd_Pymt_PC,Tot_Mdcr_Pymt_PC,Hosp_Readmsn_Rate,ER_Visits_Per_1000_Benes
15934,County,Pennsylvania : Perry,42099.0,All,All,All,4 to 5,0.2507,10259.0304,10469.8520,0.0591,484.1202
30451,County,Texas : Refugio,48391.0,<65,All,All,6+,0.2222,30297.1429,30878.7197,NaN,2970.5882
39383,County,New Hampshire : Grafton,33009.0,65+,All,All,6+,0.1057,32353.7459,40224.5130,0.2158,1985.0552
29878,County,Texas : Crockett,48105.0,<65,All,All,4 to 5,NaN,NaN,NaN,NaN,NaN
13275,County,Montana : Roosevelt,30085.0,All,All,All,6+,0.1124,45415.5867,50273.3139,0.2356,2694.1176
38864,County,Montana : Sanders,30089.0,65+,All,All,0 to 1,0.5037,2031.3138,2159.2219,NaN,181.5642
12005,County,Minnesota : Chisago,27025.0,All,All,All,2 to 3,0.2515,6244.2814,6643.8365,NaN,579.5007
31442,County,Washington : Cowlitz,53015.0,<65,All,All,4 to 5,0.1408,11729.5160,12999.5925,0.0963,1639.2045
32792,County,Arkansas : Jefferson,5069.0,65+,All,All,0 to 1,0.2624,1631.9563,1485.3805,NaN,146.9880
2116,State,North Dakota,38.0,<65,Dual Status,Medicare Only,0 to 1,0.4947,2173.6041,2024.3391,NaN,240.0818
15218,County,Ohio : Shelby,39149.0,All,All,All,4 to 5,0.2340,9181.6740,9085.0555,0.0923,775.0678
25886,County,Missouri : Webster,29225.0,<65,All,All,4 to 5,0.1765,12401.7434,11513.9306,NaN,1119.0476
11116,County,Kentucky : Webster,21233.0,All,All,All,0 to 1,0.3292,1689.2563,1595.1434,0.0000,202.2117
17121,County,Texas : Denton,48121.0,All,All,All,2 to 3,0.2993,6270.6316,6100.5242,0.0869,366.1348
1268,State,Massachusetts,25.0,65+,Dual Status,Medicare and Medicaid,0 to 1,0.1923,1920.1116,2150.2181,0.0643,200.3900

In [15]:
df.shape

(44976, 12)

Bene_Age_Lvl: Beneficiary Age
Level

Bene_MCC: Beneficiary
Multiple Chronic
Condition Group

In [10]:
df['Bene_Age_Lvl'].value_counts()

65+    14992
<65    14992
All    14992
Name: Bene_Age_Lvl, dtype: int64

In [11]:
df['Bene_MCC'].value_counts()

0 to 1    11244
2 to 3    11244
4 to 5    11244
6+        11244
Name: Bene_MCC, dtype: int64

In [12]:
contingency_table = pd.crosstab(df['Bene_Age_Lvl'], df['Bene_MCC'])
print(contingency_table)

Bene_MCC      0 to 1  2 to 3  4 to 5    6+
Bene_Age_Lvl
65+             3748    3748    3748  3748
<65             3748    3748    3748  3748
All             3748    3748    3748  3748

In [13]:
chi2, p, _, _ = chi2_contingency(contingency_table)
print(f"Chi2 value: {chi2}")
print(f"P-value: {p}")

Chi2 value: 0.0
P-value: 1.0